/* general */

*
{
	margin: 0px;
	padding: 0px;
}
body
{
	width: 100%;
	background-image: url("fond page.gif");
	background-repeat: no-repeat;
	background-size: cover;
}
h1
{
	font-family: Arial, serif;
	font-size: 30px;
	border: solid;
	border-radius: 20px;
	background-color: #E6E615;
	width: 400px;
	text-align: center;
	margin: 120px auto;
}
a
{
	text-decoration: none;
}
p
{
	text-align: center;
	border: solid 5px;
	border-radius: 20px;
	background-color: #E5E5E5;
	width: 850px;
	margin: auto;
	font-size: 18px;
	padding: 5px;
	font-weight: bold
}

/*header*/

header
{
	font-size: 18px;
}

header img
{
	margin:  10px 10px;
}
header div
{
	list-style: none;
	font-weight: bold;
}
header div#nom
{
	margin: -150px 0px 0px 220px;
}
header div#numero
{
	margin: 20px 0px 0px 220px;
}
header div#mail
{
	margin: 20px 0px 0px 220px;
}
header nav
{
	font-weight: normal;
	margin: -50px 0 0 0;
	text-align: center;
}
header nav ul li
{
	display: inline-block;
	padding: 30px 30px 0px 30px;
}
header nav ul li a
{
	text-transform: uppercase;
	font-weight: bold;
	color: black;
	outline: solid 3px;
	padding: 3px;
	background: orange;
}
#roiliche
{
	margin: -200px 0px 0px 100px;
}
#ludosport
{
	padding: 40px 0 0 680px;
}
#bouton
{
	padding: 40px 0 0 840px;
}